<?xml version="1.0" ?>
<wordrad_cfg>
    <title>Beer List</title>
    <main_xml source="all.xml" />
    <font_dir path="" />
    <textr_dir path="" />
    <img_dir path="" />
    <textr_fg source="g_3f9f4a5816.jpg" />
    <textr_bg source="g_2e0ea8a894.jpg" />
    <light val="textr_fg" />
    <altw val="AC    BFSBxax" />
    <text_width val="0" />
    <font_swf source="Cooper_Black_I.swf" />
    <font_swf source="Cooper_Black_I_A0.swf" />
    <font_swf source="Cooper_Black.swf" />
    <font_swf source="Cooper_Black_A0.swf" />
    <font_swf source="Bullet.swf" />
    <font_swf source="Bullet_A0.swf" />
    <text_scale val="6.666000" scale0="1.333333" max_sz="563.522817" />
    <font_swf source="imgfont0.swf" />
    <font_swf source="imgfont1.swf" />
    <font_swf source="imgfont2.swf" />
    <font_swf source="imgfont3.swf" />
    <textr_fgn source="fgn_4a31cdf5b5.jpg" color="#8b008b" span="227,231;235,261;265,268;272,275;279,283;" />
    <textr_fgn source="g_2e0ea8a894.jpg" />
    <htmlText><![CDATA[<p align="center" />
    <font face="Cooper Black"><font size="20"><br></font><font size="36">
    The Beer List
    <br>
    <br>
    {% regroup object_list by initial as initial_list %}
    {% for initial in initial_list %}
       <font size="30">{{ initial.grouper }}</font><br>
       <textformat leftmargin="50">
       {% for beer in initial.list %}
         <font size="20"><li><a href="{{beer.slug}}.xml">{{ beer.name }}</a></li></font>
       {% endfor %}
       </textformat>
    {% endfor %}
    </htmlText>
</wordrad_cfg>
